.quiz {
    background-image: url("../images/kramer.jpg");
    display: cover;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

.img {
	max-width: 200px;
	max-height: 200px;
}

.jumbotron {
    background-image: url("../images/group.jpg");
    background-size: 10%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}



