body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}

#quiz {
    background-image: url("../images/kramer.jpg");
    background-position: top;
    background-attachment: absolute;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#img {
	max-width: 200px;
	max-height: 200px;
}

.jumbotron {
    background-image: url("../images/group.jpg");
    background-size: 10%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.row {
    padding:10px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 5px 7px yellowgreen ;
}

h2,p {
    font-weight: 500;
    color: ghostwhite;
    padding: 3px;
}

button{
    padding: 5px;
    font-weight: bold;
}