label {
    margin-left: 5px;
  }


img {
	max-width: 200px;
	max-height: 200px;
}


body {
    background: #ffff ;
    background-image: url("../images/kramer.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;

}

.holder {
    float: left;
}

.jumbotron {
    color darkblue;
    background-image: url("../images/group.jpg");
    background-size: 400px;
    background-position: 0;
}



